doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-2.1.1.js')
    script(src='/javascripts/jquery.gamequery-0.7.1.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/WssMain.js')
  body
    block content